*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
  }
body, html{
    height: 100%;
}
body a{
    text-decoration: none !important;
}

/* <--navbar-> */
nav{
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 140px;
    z-index: 2;
    
}
nav a{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    padding: 12px 12px;
    transition:background-color .3s;
}
nav a:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
/*<--navbar-->*/

/*<--welcome-->*/
.gorsel{
    height: 100%;
    background-color: lightblue;
    background-size: cover;
    background-attachment: fixed;
}
#welcome{
    background-image:url(image/1.jpg) ;
}
.home{
    position: absolute;
    float: left;
}
.homefilter{
    width: 100%;
    height: 100%;
    background-color: rgb(7, 2, 14);
    opacity: 0.30;
    z-index: 0;
}
.hometext{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 200px;
    z-index: 1;
}
.hometext h1{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 70px;
    font-weight: 500;
    color: rgb(224, 217, 217);
}
.hometext p{
    font-family: 'Liu Jian Mao Cao', cursive;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
.hometext a{
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Liu Jian Mao Cao', cursive;
    transition:background-color .3s;
}
.hometext a:hover{
    background-color: black;
    border: 1px solid gray;
    color: #fff;
}
/*<--welcome-->*/

/*<--services-->*/
#services{
    background-color: #fff;
    padding-top: 50px;
}
#services .row h4{
    font-family: 'Bitter', serif;
    color: black;
    font-size: 50px;
}
#services .row p{
    font-family: 'Bitter', serif;
    color: rgb(39, 37, 37);
}
.services-content p{
    font-size: 14px;
}
.services-icon img{
    width: 100%;
    height: 100%;
}
.image img{
    width: 100%;
    height: 100%;
}
/*<--services-->*/

/*<--portfolio-->*/
#portfolio{
    background-image: url(image/webb.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

#portfolio img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}
.port{
    margin-top: 20px;
}
/*<--portfolio-->*/

/*<--contact-->*/
#contact{
    background: linear-gradient(rgb(10, 2, 2),rgb(201, 193, 193),rgb(19, 10, 10));
    color: black;
}
.marg{
    margin-top: 70px;
    margin-bottom: 70px;
}
.marg h5{
    font-size: 25px;
}
.marg p{
    font-size: 18px;
}
.marg img{
    width: 40px; 
    height: 40px; 
    margin: 10px 15px; 
    float: left;
}
.aw-zoom
{
    position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}
.aw-zoom:hover
{
    z-index:2;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);  
    -moz-transform: scale(1.5);
    transform: scale(1.2);
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  